<header id="header">
				<h1 id="logo"><a href="/">Bonum Quants<span></span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Welcome</a></li>
                        <li><a href="/blog.html">News</a></li>
						<!--
						<li class="submenu">
							<a href="">Layouts</a>
							<ul>
								<li><a href="/left-sidebar.html">Left Sidebar</a></li>
								<li><a href="/right-sidebar.html">Right Sidebar</a></li>
								<li><a href="/no-sidebar.html">No Sidebar</a></li>
								<li><a href="/contact.html">Contact</a></li>
								<li class="submenu">
									<a href="">Submenu</a>
									<ul>
										<li><a href="#">PEAD</a></li>
										<li><a href="#">Momentum</a></li>
										<li><a href="#">Calendar</a></li>
										<li><a href="#">Fundamental</a></li>
										<li><a href="#">Accrual</a></li>
									</ul>
								</li>
							</ul>
						</li>
						-->
						<li><a href="/signup.html" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>